
@model List<Tuple<Topics,int>>
<div id="topRight" class="sticky-top col-2 h-50 text-start ms-1">
    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button border border-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    <i class="bi bi-hash"></i>Öne Çıkan Başlık
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show ps-1">
                @foreach (var item in Model)
                {
                   <div class="accordion-body p-1">
                    <u><strong class="ps-1"><small>#</small></strong> @item.Item1.TopicTitle </u>
                    <small><i class="bi bi-share ps-3">@item.Item2</i></small>
                </div> 
                }
                
            </div>
        </div>
    </div>

</div>