@model List<OperationClaim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title d-inline">
                Yetkiler
            </h5>
             <button class="btn btn-outline-primary float-end" style="font-size:1.25rem;" data-bs-toggle="modal" data-bs-target="#inlineForm">
                <i class="bi bi-plus-square-dotted fw-bold"></i> Ekle
            </button>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover" id="table1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Yetki Adı</th>
                        <th class="text-center">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="fw-bol claimId">@item.Id</td>
                            <td class="userName">@item.Name</td>
                            <td class="d-flex justify-content-center">
                                <a class="btn btn-outline-success" href="/Admin/Claim/Detail/@item.Id">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <a class="btn btn-outline-warning mx-2 update-btn" href="#">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-outline-danger" href="#">
                                    <i class="bi bi-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Add Claim Modal-->
<div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Yetki Oluştur </h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <form action="/Admin/Claim/Add" method="post">
                <div class="modal-body">
                    <label for="topic">Yetki Adı: </label>
                    <div class="form-group">
                        <input id="topic" name="Name" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">İptal</span>
                    </button>
                    <button type="submit" class="btn btn-primary ms-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Oluştur</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Update Claim Modal-->
<div class="modal fade text-left" id="updateClaim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Yetki Oluştur </h4>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <form id="claimUpdate">
                <input name="Id" type="hidden" >
                <div class="modal-body">
                    <label for="topic">Yetki Adı: </label>
                    <div class="form-group">
                        <input  name="Name" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">İptal</span>
                    </button>
                    <button type="submit" class="btn btn-primary ms-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Oluştur</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast();
            }

            $(".update-btn").on("click", function (e) {
                e.preventDefault();
                $("#updateClaim").modal("show");
                var Id = $(this).closest("tr").find(".claimId").text();
                var UserName = $(this).closest("tr").find(".userName").text();
                console.log(Id);
                console.log(UserName);
                $("input[name=Id]").val(Id);
                $("input[name=Name]").val(UserName);
            });

            $("#claimUpdate").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    type: "PUT",
                    url: "https://localhost:7110/Admin/Claim/ClaimUpdate",
                    data: {
                        Id: $("input[name=Id]").val(),
                        Name: $(this).find("input[name=Name]").val()
                    },
                    success: function (response) {
                        Toast(response.message);

                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    },
                    error: function (xhr, status, error) {
                        console.error("Ajax Error:", error);
                    },
                });
            });
        })
    </script>
}
