<nav class="navbar bg-dark">
    <div class="container-fluid text-white">
        <a class="navbar-brand text-white" href="#">Admin Paneli <i class="bi bi-arrow-right"></i> </a> <a href="/Admin/Home/Index" target="_blank" class="btn btn-outline-secondary border-white text-white fw-bolder">Giriş Yap</a>
    </div>
</nav>