
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Project | Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/frontend/assets/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css">
</head>
<body>
    <video autoplay muted loop>
        <source src="~/frontend/assets/video/bg-video.mp4" type="video/mp4">
        Tarayıcınız video elementini desteklemiyor.
    </video>
    <div class="container-sm">
        <div id="login" class="w-50 mx-auto position-absolute top-50 start-50 translate-middle">
            <form action="/LoginPost" method="post" class="px-5 pt-5 pb-4">
                <h1 class="text-center text-white fw-lighter">Sosyal Medya Sitesi  | Login</h1>


                <div class="input-group mt-3 mb-3">
                    <span for="exampleInputEmail1" class="input-group-text">E-posta Adresiniz</span>
                    <input type="email" class="form-control" name="Email" id="exampleInputEmail1">
                </div>

                <div class="input-group mt-3 mb-3">
                    <span for="exampleInputPassowrd" class="input-group-text">Şifreniz</span>
                    <input type="password" class="form-control" name="Password" id="exampleInputPassowrd">
                </div>

                <div class="text-center">
                    <button class="btn btn-primary">Giriş Yap</button>
                </div>
            </form>
            <div class="text-center pb-2">
                <a class="btn btn-outline-primary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Şifreni mi unuttun ?</a>
            </div>
        </div>
    </div>
    <!-- First Toast -->
    <div class="toast-container position-top  end-0 top-0 p-3">
        <!-- Second Toast -->
        <div id="viewToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg bg-danger">
                <strong class="me-auto text-white">Bilgilerinizi Kontrol Edin</strong>
                <button type="button" class="btn-close color-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-bg-danger">
                 @TempData["LoginFail"].
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Şifreni mi unuttum ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="forgotPassword" autocomplete="off">
                        <div class="input-group mt-3 mb-3">
                            <label class="input-group-text" for="inputGroupFile02">E-posta adresiniz :</label>
                            <input type="text" name="Email" id="userEmail" class="form-control">
                        </div>

                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                            <button type="submit" class="btn btn-success">Gönder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#forgotPassword").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Auth/ForgotPassword",
                    data: {
                        email: $("#userEmail").val()
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.success == true) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                text: response.message,
                                showConfirmButton: false,
                                timer: 4000
                            }).then(() => {
                                window.location.href = response.url
                            });
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                text: response.message,
                                showConfirmButton: false,
                                timer: 4000
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Ajax Error:", error);
                    },
                });

            })

        });
    </script>

    @if (TempData["LoginFail"] != null)
    {
        <script>
            $(document).ready(function () {
                $('.toast').toast({
                    animation: false,
                    delay: 50000
                });
                $('.toast').toast('show');
            });
        </script>
    }


</body>
</html>

