
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} 
#login{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (max-width:600px){
    #login{
        width: 105%!important;
    }
}

@media screen and (max-width:767px){
    .col-6{
        width: 100%;
    }
    
    .r-img{
        margin-top: 80px;
    
    }
    
    .r-img>img{
        display: flex;
        margin: 0px auto;
        max-width: 50%;
    }
}