
@media screen and (max-width: 600px) {
    #leftSideMenu,
    #topRight{
        display: none;
    }
    #mainContent{
        width: 100% !important;
        margin: 0px auto !important;
    } 
    .subContent{
        font-size: 11px;
        width: 120px;
    }
    .contentUserImage{
        display: contents;
    }
    .userImageArea,
    .contents{
        width: 100%;
    }

    .userImageArea{
        border-bottom: none !important;
    }

    .comment{
        width: calc(100% - 50px) !important;
    }
}