@model VerificationCode
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 d-flex flex-wrap gap-3 justify-content-center p-1">
    <div id="codeInput" class="col-9 border-1 rounded-2 pt-5 pb-2 shadow">
        <form class="w-75 mx-auto" id="changePasswprdForm">
            <h4 class="text-center">Şifre Güncelleme Formu</h4>

            <div class="input-group mt-3 mb-3">
                <span for="exampleInputEmail1" class="input-group-text">E-posta Adresiniz</span>
                <input type="email" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="NewPassword" class="input-group-text">Yeni Şifreniz</span>
                <input type="password" class="form-control" name="NewPassword" id="NewPassword" aria-describedby="Yeni Şifreniz">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Şifremi Güncelle</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast()
            }

            $("#changePasswprdForm").on("submit", function (e) {
                e.preventDefault();
                var Email = $("input[name=Email]").val();
                var NewPassword = $("input[name=NewPassword]").val();


                $.ajax({
                    type: "POST",
                    url: "/Admin/User/ChangePassword",
                    data: {
                        Email: Email,
                        NewPassword: NewPassword
                    },
                    success: function (response) {
                        if (response.success) {
                            Toast(response.message)
                            setTimeout(() => {

                                window.location.href = response.url;
                            }, 3000);
                        } else {
                            Toast(response.message)
                        }
                    }, error: function (xhr, status, error) {
                        console.log(error);
                    }
                })
            })


        });
    </script>
}


