@model VerificationCode
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Kod Doğrulama</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div id="codeInput" class=" border-1 rounded-2 pt-5 pb-2 shadow">
                    <form class="w-75 mx-auto" id="changePasswordForm">

                        <h4 class="text-center">Şifre Güncelleme Formu</h4>
                        <div class="input-group mt-3 mb-3">
                            <span for="exampleInputEmail1" class="input-group-text">E-posta Adresiniz</span>
                            <input type="email" class="form-control" name="Email" value="@Model.Email" id="exampleInputEmail1" aria-describedby="E-posta Adresiniz">
                        </div>

                        <div class="input-group mt-3 mb-3">
                            <span for="OldPassword" class="input-group-text">Eski Şifreniz</span>
                            <input type="password" class="form-control" name="OldPassword" id="OldPassword" aria-describedby="Eski Şifreniz">
                        </div>

                        <div class="input-group mt-3 mb-3">
                            <span for="NewPassword" class="input-group-text">Yeni Şifre</span>
                            <input type="password" class="form-control" name="NewPassword"  id="NewPassword" aria-describedby="Yeni Şifre">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Şifremi Güncelle</button>
                        </div>
                        @ViewData["Email"]
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast();
            }

            $("#changePasswordForm").on("submit", function (e) {
                e.preventDefault();

                var Email = $("input[name=Email]").val();
                var OldPassword = $("input[name=OldPassword]").val();
                var NewPassword = $("input[name=NewPassword]").val();


                $.ajax({
                    type: "POST",
                    url: "/Admin/User/ChangePassword",
                    data: {
                        Email: Email,
                        OldPassword: OldPassword,
                        NewPassword: NewPassword
                    },
                    success: function (response) {
                        if (response.success) {
                            Toast(" ✔️ " + response.message);
                            setTimeout(function () {
                                window.location.href = "/Admin/User";
                            }, 3000);

                        } else {
                            Toast("⚠️ " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Ajax Error:", error);
                    },
                });
            })

        });
    </script>
}
