@model VerificationCode
@{
    ViewData["Title"] = "VerifyCode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                Kod Doğrulama
            </h5>
        </div>
        <div class="card-body">
            <div class="col-12 d-flex flex-wrap gap-3 justify-content-center p-1">
                <div class="row col-12">
                    <ul class="w-auto mx-auto border-1 rounded-2 shadow p-5">
                        <li>Lütfen E-posta adresinizi kontrol edin !</li>
                        <li>E-posta adresinize gönderilen 12 haneli doğrulama kodunu yazın</li>
                        <li>Kodu doğru girmeniz halinde şifre güncelleme sayfasına yönlendirileceksiniz</li>
                        <li>Gönderilen kodun süresi 3 dakikadır</li>
                        <li style="list-style-type:none;text-align:center;font-size:2rem;" class="pt-5">
                            <span id="countdown">00 : 00 : 00 : 00000</span>
                        </li>
                    </ul>
                </div>

                <div id="codeInput" class="col-9 border-1 rounded-2 shadow">
                    <form id="verifyForm">
                        <div class="form-group d-flex justify-content-center p-5">
                            <label class="d-flex">
                                Kodu Giriniz :
                                <input type="text" name="code" class="form-control w-50 ms-3" />
                            </label>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-25 mb-2">Gönder</button>
                        </div>
                    </form>
                    <a href="#" id="code" class="btn btn-outline-primary" hidden>Kodu Tekrar Gönder</a>
                </div>

            </div>

        </div>
    </div>
</div>





@section scripts {
    <script>
        $(document).ready(function () {

            function Toast(message) {
                Toastify({
                    text: message,
                    duration: 3000,
                    close: true,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "#4fbe87",
                }).showToast()
            }

            var startTime = new Date();
            startTime.setMinutes(startTime.getMinutes() + 3);

            var countdown = setInterval(function () {
                var now = new Date().getTime();
                var distance = startTime - now;

                if (distance < 0) {
                    clearInterval(countdown);
                    $("#countdown").text("Süre Sonlandı");
                    $("#verifyForm").attr("hidden", "true");
                    $("#codeInput").addClass("p-3 d-flex justify-content-center");
                    $("#code").removeAttr("hidden");

                    return;
                }

                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                $("#countdown").text("Kalan Süre: " + minutes + " dakika :" + seconds + " saniye ");
            }, 1000);


            $("#verifyForm").on("submit", function (e) {
                e.preventDefault();
                var Code = $("input[name=code]").val();
                var UserId = @Model.UserId;

                console.log(Code);

                $.ajax({
                    type: "POST",
                    url: "/Admin/User/VerifyCode",
                    data: {
                        UserId: UserId,
                        Code: Code
                    },
                    success: function (response) {
                        if (response.success) {
                            Toast(response.message)
                            setTimeout(() => {

                                window.location.href = response.url;
                            }, 3000);
                        } else {
                            Toast(response.message)
                        }
                    }, error: function (xhr, status, error) {
                        console.log(error);
                    }
                })
            })

            $("#code").on("click", function (e) {
                e.preventDefault();
                var UserId = @Model.UserId;
                var Email = "@Model.Email";

                $.ajax({
                    type: "POST",
                    url: "/Admin/User/GetVerifyCode",
                    data: {
                        UserId: UserId,
                        Email: Email
                    },
                    success: function (response) {
                        if (response.success) {
                            Toast(response.message)

                            setTimeout(function () {
                                window.location.href = response.url;
                            }, 3000);
                        }
                    }, error: function (xhr, status, error) {
                        console.log(error);
                    }
                })
            })


        });
    </script>
}