
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="col-12 d-flex flex-wrap gap-3 justify-content-center p-1">
    <div id="codeInput" class="col-9 border-1 rounded-2 pt-5 pb-2 shadow">
        <form class="w-75 mx-auto" id="changePasswprdForm">
            <h4 class="text-center">Şifre Güncelleme Formu</h4>

            <div class="input-group mt-3 mb-3">
                <span for="exampleInputEmail1" class="input-group-text">E-posta Adresiniz</span>
                <input type="email" class="form-control" name="Email" value="@ViewData["Email"]" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="OldPassword" class="input-group-text">Eski Şifreniz</span>
                <input type="password" class="form-control" name="OldPassword" id="OldPassword" aria-describedby="Eski Şifreniz">
            </div>

            <div class="input-group mt-3 mb-3">
                <span for="NewPassword" class="input-group-text">Yeni Şifreniz</span>
                <input type="password" class="form-control" name="NewPassword" id="NewPassword" aria-describedby="Yeni Şifreniz">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Şifremi Güncelle</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#changePasswprdForm").on("submit", function (e) {
                e.preventDefault();
                var Email = $("input[name=Email]").val();
                var OldPassword = $("input[name=OldPassword]").val();
                var NewPassword = $("input[name=NewPassword]").val();


                $.ajax({
                    type: "POST",
                    url: "/sifre-guncelle",
                    data: {
                        Email: Email,
                        OldPassword: OldPassword,
                        NewPassword: NewPassword
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#staticBackdrop").modal("show");
                            $(".modal-body").text(response.message);


                            setTimeout(() => {
                                $("#staticBackdrop").modal("hide");
                                window.location.href = response.url;
                            }, 3000);
                        } else {
                            $("#staticBackdrop").modal("show");
                            $(".modal-body").text(response.message);

                            setTimeout(() => {
                                $("#staticBackdrop").modal("hide");
                            }, 3000);
                        }
                    }, error: function (xhr, status, error) {
                        console.log(error);
                    }
                })
            })


        });
    </script>
}
